.details-container {
  display: flex;
  justify-content: center;
}

.details-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.info-header > h2 {
  margin-bottom: 10px;
}

.info-header {
  border-bottom: 1px solid var(--pinkish-grey);
}

.info-content {
  margin-top: 10px;
}

.back-button {
  margin-top: auto;
}

.info-item {
  line-height: 18px;
  font-size: 14px;
}

@media (min-width: 1024px) {
  .info {
    display: grid;
    grid-template-columns: 303px 322px;
    column-gap: 100px;
    margin-top: 30px;
  }
}

@media (max-width: 1023px) {
  .info-header {
    margin-top: 30px;
  }
}