
.custom-button {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  border: solid 1px var(--green-teal);
  background-color: var(--green-teal);
  color: var(--white);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.custom-button:hover:not(:disabled) {
  background-color: var(--darker-green-teal);
  border-color: var(--darker-green-teal);
}

.custom-button:disabled {
  cursor: default;
  border: solid 1px var(--pinkish-grey);
  background-color: var(--pinkish-grey);
}